# TI XDS110
source [find interface/xds110.cfg]

# Force jtag
transport select jtag

# Our boards are revision B.
# This can be found in specsheet JTAG identification code section.
set DAP_TAPID 0x2B95502F

# Same as ICEPick ID according to specsheet
set JRC_TAPID 0x2B95502F
set CHIPNAME rm46

# Debug components page of TRM, page 108. 'Cortex-R4F Debug'
set DBGBASE 0xFFA01000

# I can't believe I have to set this
set ENDIAN little

source ./debug/ti_tms570.cfg

########
# Experimental
